
    <!--====== Section 1 ======-->
            <div class="u-s-p-t-90">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">

                            <!--====== Product Breadcrumb ======-->
                            
                            <!--====== End - Product Breadcrumb ======-->

                            <!--====== Product Detail Zoom ======-->
                            <div class="pd u-s-m-b-30">
                                 <%= image_tag url_for(@select_product_to_view.image), class: "u-img-fluid" %>
                            </div>
                            <!--====== End - Product Detail Zoom ======-->
                        </div>
                        <div class="col-lg-7">

                            <!--====== Product Right Side Details ======-->
                            <div class="pd-detail">
                                <div>
                                    <span class="pd-detail__name"><%=@select_product_to_view.name_pro%></span></div> 
                                <div>
                                    <div class="pd-detail__inline">
                                        <span class="pd-detail__price"><%= @select_product_to_view.price_pro%></span> 
                                </div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>

                                        <span class="pd-detail__review u-s-m-l-4">

                                            <a data-click-scroll="#view-review">23 Reviews</a></span></div>
                                </div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__inline">

                                        <span class="pd-detail__stock">200 in stock</span>

                                        <span class="pd-detail__left">Only 2 left</span></div>
                                </div>
                                <div class="u-s-m-b-15">

                                    <span class="pd-detail__preview-desc"><%= @select_product_to_view.desc_pro %></span></div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__inline">

                                        <span class="pd-detail__click-wrap"><i class="far fa-heart u-s-m-r-6"></i>

                                            <a href="signin.html">Add to Wishlist</a>

                                            <span class="pd-detail__click-count">(222)</span></span></div>
                                </div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__inline">

                                        <span class="pd-detail__click-wrap"><i class="far fa-envelope u-s-m-r-6"></i>

                                            <a href="signin.html">Email me When the price drops</a>

                                            <span class="pd-detail__click-count">(20)</span></span></div>
                                </div>
                                <div class="u-s-m-b-15">
                                    <ul class="pd-social-list">
                                        <li>

                                            <a class="s-fb--color-hover" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li>

                                            <a class="s-tw--color-hover" href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li>

                                            <a class="s-insta--color-hover" href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li>

                                            <a class="s-wa--color-hover" href="#"><i class="fab fa-whatsapp"></i></a></li>
                                        <li>

                                            <a class="s-gplus--color-hover" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    </ul>
                                </div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__form">
                                        <div class="pd-detail-inline-2">
                                            <div class="table-p__input-counter-wrap">
                                                <div class="input-counter">
                                                    <input id="inputNumberProduct" class="input-counter__text input-counter--text-primary-style" type="number" value="1" data-min="1" data-max="1000">
                                                </div>
                                            </div>
                                            <div >
                                                <button onclick="addCart(<%=@id_user%>,<%=@select_product_to_view.id %>)" class="btn btn--e-brand-b-2">Add Cart</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--====== End - Product Right Side Details ======-->
                        </div>
                    </div>
                </div>
            </div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    const addCart = async (id_user, id_product) =>{
        try {
            const inputNumberProduct = document.getElementById("inputNumberProduct").value;
            const formData = new FormData();
            formData.append("inputNumberProduct", inputNumberProduct);

            const result = await axios.post(`/addCart?id_user=${id_user}&id_product=${id_product}`, formData, { 
                headers: {'Content-Type': 'multipart/form-data'}
            });

            const body = result.data;
            if(body.msg == 'ok'){
                alert('Done');
            }
        } catch (error) {
            console.log(error);
        }
    }
</script>


