
<p>
  <strong>Name pro:</strong>
  <%= @mnproduct.name_pro %>
</p>

<p>
  <strong>Cate pro:</strong>
  <%= @mnproduct.cate_pro %>
</p>

<p>
  <strong>Price pro:</strong>
  <%= @mnproduct.price_pro %>
</p>

<p>
  <strong>Desc pro:</strong>
  <%= @mnproduct.desc_pro %>
</p>

<%= link_to 'Edit', edit_mnproduct_path(@mnproduct) %> |
<%= link_to 'Back', mnproducts_path %>
