<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user1.name %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @user1.mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user1.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user1.address %>
</p>

<%= link_to 'Edit', edit_user1_path(@user1) %> |
<%= link_to 'Back', user1s_path %>
