<p id="notice"><%= notice %></p>

<p>
  <strong>Name pro:</strong>
  <%= @mnproduct2.name_pro %>
</p>

<p>
  <strong>Cate pro:</strong>
  <%= @mnproduct2.cate_pro %>
</p>

<p>
  <strong>Price pro:</strong>
  <%= @mnproduct2.price_pro %>
</p>

<p>
  <strong>Desc pro:</strong>
  <%= @mnproduct2.desc_pro %>
</p>

</p>
<%= link_to 'Edit', edit_mnproduct2_path(@mnproduct2) %> |
<%= link_to 'Back', mnproduct2s_path %>
