<p id="notice"><%= notice %></p>

<p>
  <strong>Name pro:</strong>
  <%= @mnproduct1.name_pro %>
</p>

<p>
  <strong>Cate pro:</strong>
  <%= @mnproduct1.cate_pro %>
</p>

<p>
  <strong>Price pro:</strong>
  <%= @mnproduct1.price_pro %>
</p>

<p>
  <strong>Desc pro:</strong>
  <%= @mnproduct1.desc_pro %>
</p>

<%= link_to 'Edit', edit_mnproduct1_path(@mnproduct1) %> |
<%= link_to 'Back', mnproduct1s_path %>
