


<div class="pd-20 card-box mb-30">
          <div class="clearfix mb-20">
                      <div class="pull-left">
                        <h4 class="text-blue h4">Manager category</h4>
                
                      </div>
                      <div class="pull-right">
                      <%= link_to 'Add Category', new_manacate_path, class: "btn btn-primary btn-sm scroll-click" %>
                      </div>
                    </div>
                    <p id="notice"><%= notice %></p>
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Name Category</th>
                          <th scope="col">Content</th>
                       
                        </tr>
                      </thead>
                      <tbody>
                         <% @manacates.each do |manacate| %>
                        <tr>
                          <th scope="row">1</th>
                             <td><%= manacate.name_category %></td>
                                <td><%= manacate.desc %></td>
                              
                                   <td><span class="badge badge-primary"><%= link_to 'Show', manacate %></span></td>
                                   <td><span class="badge badge-primary"><%= link_to 'Edit', edit_manacate_path(manacate) %></span></td>
                                   <td><span class="badge badge-primary"><%= link_to 'Destroy', manacate, method: :delete, data: { confirm: 'Are you sure?' } %></span></td>
                             </tr>
                        <% end %>
                      </tbody>
                    </table>
                   
            </div>
          </div>
        </div>


