<p id="notice"><%= notice %></p>

<p>
  <strong>Name category:</strong>
  <%= @manacate.name_category %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @manacate.desc %>
</p>

<%= link_to 'Edit', edit_manacate_path(@manacate) %> |
<%= link_to 'Back', manacates_path %>
